.todo-item {
  display: flex;
  align-items: center;
  padding: 1.5rem 2rem;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.todo-item + .todo-item {
  border-top: 1px solid #ddd;
}
.todo-item:hover {
  box-shadow: inset 4px 0 0 #4899e9;
}

/* checkbox */
.ui.checkbox.checkbox-item label {
  color: #444444;
}
.ui.checkbox.checkbox-item label::before {
  border-color: #b1b2b3;
  border-width: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.ui.checkbox label:after {
  font-size: 0.786em;
}

/* time */
.todo-item .meta {
  margin-left: auto;
  white-space: nowrap;
}

/* delete button */
.todo-item .ui.button {
  margin: 0 0 0 2rem;
}

/* hover */
.ui.checkbox.checkbox-item:hover label {
  color: rgba(68, 68, 68, 0.5);
  text-decoration: line-through;
}
.ui.checkbox label:hover::before {
  border-color: #d4d4d5;
}

/* checked */
.ui.checkbox.checkbox-item.checked label {
  color: rgba(68, 68, 68, 0.5);
  text-decoration: line-through;
}
.ui.checkbox.checkbox-item input:focus ~ label:before {
  background-color: #fff;
  border-color: #d4d4d5;
}
.ui.checkbox.checkbox-item input:checked:focus ~ label:before,
.ui.checkbox.checkbox-item
  input:not([type='radio']):indeterminate:focus
  ~ label:before {
  background-color: #fa6a6a;
  border-color: #fa6a6a;
}
.ui.checkbox.checkbox-item input:checked ~ label:before {
  background-color: #fa6a6a;
  border-color: #fa6a6a;
}
.ui.checkbox.checkbox-item input:checked ~ label:after {
  color: #fff;
}
.ui.checkbox.checkbox-item input:checked:focus ~ label:after {
  color: #fff;
}
.ui.checkbox.checkbox-item input:focus ~ label:after {
  color: #fff;
}
